 <!-- cards -->
    <div class="container ">
     <div class="first-title">Bambam Amigurumis</div>
      <div class="second-title">You can order you favourite and pick a size!</div>
      <div class="row ">

        <div class="card ">
          <img src="./images/turtle.jpg" alt="" class="fade"/>
          <h4>Turtle</h4>
          <p>
           #1
          </p>
          <a href="order" class="btn">Order here</a>
        </div>

        <div class="card">
          <img src="./images/frida.jpg" alt="" class="fade"/>
          <h4>Frida</h4>
          <p>
      #2
          </p>
        
          <a href="order" class="btn">Order here</a>
        </div>


        <div class="card">
          <img src="./images/flower.jpg" alt=""class="fade" />
          <h4>Flower</h4>
          <p>
            #3
                </p>
          <a href="order" class="btn">Order here</a>
        </div>


        <div class="card">
          <img src="./images/cat.jpg" alt=""class="fade" />
          <h4>Cat</h4>
          <p>
            #4
                </p>
          <a href="order" class="btn">Order here</a>
        </div>

        
        <div class="card">
          <img src="./images/candle.jpg" alt="" class="fade"/>
          <h4>Candle</h4>
          <p>
            #5
                </p>
          <a href="order" class="btn">Order here</a>
        </div>
        

        <div class="card">
          <img src="./images/cactus.jpg" alt="" class="fade"/>
          <h4>Cactus</h4>
          <p>
            #6
                </p>
          <a href="order" class="btn">Order here</a>
        </div>

        <div class="card">
          <img src="./images/chapulin.jpg" alt=""class="fade" />
          <h4>Chapulín</h4>
          <p>
            #12
                </p>
          <a href="order" class="btn">Order here</a>
        </div>


        <div class="card">
          <img src="./images/pirate.jpg" alt=""class="fade" />
          <h4>Pirate</h4>
          <p>
            #8
                </p>
          <a href="order" class="btn">Order here</a>
        </div>

        <div class="card">
          <img src="./images/snowman1.jpg" alt="" class="fade"/>
          <h4>Snowman</h4>
          <p>
            #9
                </p>
          <a href="order" class="btn">Order here</a>
        </div>

      
  

      </div>
      
      <div class="popup">
        <!-- top bar -->
        <div class="top-bar">
    
          <span class="close-btn">      <i class="fa-solid fa-xmark"></i></span>
         </div>  
        <!-- arrows -->
        <!-- <button class="arrow-btn left-arrow"></button>
        <button class="arrow-btn right-arrow"></button>  -->
        <!-- image -->
        <img src="images/turtle.jpg" class="large-image" alt="">
      </div>
    </div>



    
    <script src="javascript/script.js"></script>